body {
    font-family: 'PT Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa; /* Light background for header */
    padding: 20px 0;
}

header img {
    margin-left: 20px;
    max-height: 60px;
}

header h1 {
    font-size: 24px;
    margin-left: 10px;
    color: #333;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/highlights/hero_1440_800.jpg') no-repeat center center/cover;
    color: white;
    padding: 10px 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 70%;
    height: auto;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
}

.hero h2 {
    font-size: 56px;
    color: #333;
}

.section-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-heading {
    text-align: center;
    margin-bottom: 10px;
}

.section-title h3 {
    font-size: 28px;
    color: #333;
}
.project-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: white; 
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}

.project-card h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/*.row img {
    display: grid;
    place-items: center;  Centers both horizontally & vertically 
    height: 100%;
}*/

.image-container {
    display: flex;
    align-items: center; /* Centers vertically */
    justify-content: center; /*Centers horizontally (optional) */
    height: 100%; /* Ensure the container has height */
}
.partners img {
    max-width: 100%;
    height: auto;
}
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.bank-tabs .nav-link {
    color: #333;
}
.bank-tabs .nav-link.active {
    background-color: #007bff;
    color: #fff;
}